body {
    background-image: url(../img/pattern-background-desktop.svg);
    font-family: 'Red Hat Display';
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: white;
    max-width: 40%;
    border-radius: 5%;
}

.image {
    height: 217px;
    width: 444px;
    background-image: url(../img/illustration-hero.svg);
}

h1 {
    font-size: 1.6rem;
    color: hsl(223, 47%, 23%);
}

p {
    font-size: 1rem;
    color: grey;
}

.first-paragraph {
    text-align: center;

}